    body {
        background-image: url("../images/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'VT323', monospace;
        letter-spacing: 3px;
        font-stretch: expanded;
        font-weight: 200;
        font-size: 50px;
    }
    
    header {
        color: #ffffff;
        text-align: center;
    }
    
    .container-fluid {
        display: block;
        margin: auto;
        width: 90%;
    }
    /* HP ROW */
    
    #hpRow {
        background-color: #ffffff;
        padding: 20px;
        border: 5px solid #3c69aa;
        margin: 10px;
    }
    /* *** To Do: Healthbar *** 
    .playerHealthBar,
    .opponentHealthBar {
        box-sizing: border-box;
        width: 200px;
        height: 30px;
        padding: 20px;
        border: 1px solid #3c69aa;
        border-radius: 5px;
    }
    
    .bar {
        transition: width .5s linear;
        background: #3c69aa;
    }
    
    .hit {
        transition: width .5s linear;
        background: #f1f1f1;
    }

    *** End: Healthbar *** */
    /* Button */
    
    .button {
        text-align: center;
    }
    
    #attackBtn {
        padding: 10px;
        color: #ffffff;
        background-color: #f8cb46;
        border: none;
        border-radius: 8px;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }
    
    #attackBtn:hover {
        background-color: #e72727;
        color: #ffffff;
    }
    /* GAME ROW */
    
    #gameRow {
        background-image: url("../images/gameBG.png");
        border: 5px solid #f8cb46;
        margin: 10px;
        height: 400px;
    }
    
    #playerGame,
    #opponentGame {
        text-align: center;
        padding-top: 100px;
    }
    
    #gameComments {
        color: #ffffff;
        text-align: center;
        padding-top: 100px;
    }
    /* CHARACTER ROW */
    
    #characterRow {
        background-color: #ffffff;
        padding: 20px;
        border: 5px solid #3c69aa;
        margin: 10px;
        text-align: center;
    }
    
    .characters {
        display: block;
        margin: 0 auto;
    }